*{
    font-family: "IBM Plex Sans";
}

.p-Home.Flex10{
    font-weight: bold;
}


.p-Home.TextBox14{
    font-weight: bold;
}

.p-Home.TextBox113{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox119{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox116{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox95{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox66{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox61{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox122{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox13{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox31{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox33{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox124{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox95{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.p-Home.TextBox16{
    font-weight: bold;
}
.p-Home.TextBox17{
    font-weight: bold;
}
.p-Home.TextBox18{
    font-weight: bold;
}

.p-Home.TextBox32{
    font-weight: bold;
}

.p-Home.TextBox34{
    font-weight: bold;
}

.p-Home.TextBox36{
    font-weight: bold;
}
.p-Home.TextBox37{
    font-weight: bold;
}

.p-Home.Flex48{
    font-weight: bold;
}
.p-Home.Flex52{
    font-weight: bold;
}
.p-Home.Flex56{
    font-weight: bold;
}

.p-Home.Image21{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}